<header th:fragment="header">
  <h1><a href="/">DEV NEWS</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li sec:authorize="hasRole('ADMIN')"><a href="/users">Users</a></li>
      <li sec:authorize="hasRole('ADMIN')"><a href="/register-post" >Register Post</a></li>
      <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
      <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
      <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>