.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rwd-table {
    margin: 1em 0;
    min-width: 350px;
    max-width: 700px;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
    background-color: #4b0082;
    border-collapse: collapse;

}

tbody {
    background-color: #afafaf;
}

tr:nth-child(even) {
    background-color: #888888;
}

td, th {
    padding: 10px 20px;
}

td p{
    width: 100%;
    display: flex;
    justify-content: center;
    word-break: break-word;
}

td a {
    color: white;
    text-decoration: none;
}

td a:hover {
    color: #4b0082;
}