<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example Thymeleaf</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--<div sec:authorize="isAuthenticated()">-->
<!--    This content is only shown to authenticated users.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">-->
<!--    This content is only shown to administrators.-->
<!--</div>-->
<!--<span sec:authentication="principal.name">Bob</span>-->
<!--<span sec:authentication="principal.email">Bob</span>-->
<!--Roles: <span sec:authentication="authorities"></span>-->
<div class="container">
        <table class="rwd-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts.content}">
                <td><p th:text="${post.title}"></p></td>
                <td><p th:text="${post.createdAt}"></p>
                <td><a th:href="@{/edit-post(postId=${post.id})}">Edit</a></td>
                <td><a th:href="@{/delete-post(postId=${post.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${posts.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/user-posts(size=${posts.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==posts.number + 1} ? active"></a>
        </div>
</div>
</body>
</html>