<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example Thymeleaf</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--<div sec:authorize="isAuthenticated()">-->
<!--    This content is only shown to authenticated users.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">-->
<!--    This content is only shown to administrators.-->
<!--</div>-->
<!--<span sec:authentication="principal.name">Bob</span>-->
<!--<span sec:authentication="principal.email">Bob</span>-->
<!--Roles: <span sec:authentication="authorities"></span>-->
<div class="container">
    <div class="users-table">
        <div class="user-row">
            <p>Title</p>
            <p>Created At</p>
        </div>
        <div class="user-row" th:each="post : ${posts.content}">
            <p th:text="${post.title}"></p>
            <p th:text="${post.createdAt}"></p>
            <p><a th:href="@{/delete-post(postId=${post.id})}">Delete</a></p>
        </div>
        <div th:if="${posts.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/user-posts(size=${posts.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==posts.number + 1} ? active"></a>
        </div>
    </div>
</div>
</body>
</html>