<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example Thymeleaf</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container">
    <table class="rwd-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userPage.content}">
                <td><p><a th:href="@{/user-posts(userId=${user.id})}" th:text="${user.name}"></a></p></td>
                <td><p th:text="${user.role}"></p></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>